<script setup>
defineProps(['blog']);

</script>
 
<template>
    <strong>{{ blog.title }}</strong>
    <a href="https://bootstrapmade.com/bootstrap-blog-magazine-templates/">
        <p>{{ blog.meta_description }}</p>
    </a>

</template>

