<script setup>
import { useForm, Head } from '@inertiajs/inertia-vue3';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { ref } from 'vue';
import Blog from '@/Pages/Blogs/Blog.vue';
defineProps(['blogs']);
const form = useForm({
    title: '',
    content: '',
    meta_description: '',
});
const componentCreatBlog = ref(false);
</script>
 
<template>

    <Head title="blogs" />
    <AuthenticatedLayout />
    <div class="d-flex justify-content-center">
        <h1>MY Blog</h1>
    </div>

    <div class="row mt-3">
        <div class="nav-bar-blog col-md-2 border border-dark h-100">
            <button class="btn btn-primary" @click="componentCreatBlog = true">create</button>
        </div>
        <div class="blog-create col-md-9 border-dark h-100" v-if="componentCreatBlog">
            <form @submit.prevent="form.post(route('blogs.store'), { onSuccess: () => componentCreatBlog = false  })">
                <label for="title-input" class="form-label">Title</label>
                <input v-model="form.title" type="text" placeholder="Title" class="form-control" id="title-input" />
                <InputError :message="form.errors.title" class="mt-2" />

                <label for="meta-description-textarea" class="form-label">Meta description</label>
                <textarea v-model="form.meta_description" placeholder="Meta description" id="meta-description-textarea"
                    class="form-control"></textarea>
                <InputError :message="form.errors.meta_description" class="mt-2" />

                <label for="content-textarea" class="form-label">Content</label>
                <textarea v-model="form.content" placeholder="Content" id="content-textarea"
                    class="form-control"></textarea>
                <InputError :message="form.errors.content" class="mt-2" />
                <div class="button row mt-2">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary text-dark">save</button>
                    </div>
                    <div class="col-md-1">
                        <button class="ms-2 btn btn-dark"
                            @click="componentCreatBlog = false; form.reset(); form.clearErrors()">Back</button>
                    </div>
                </div>
            </form>
        </div>
        <div v-if="!componentCreatBlog" class="blog-content col-md-9 border border-dark h-100">
            <Blog v-for="blog in blogs" :key="blog.id" :blog="blog" />
        </div>
    </div>
</template>

