<script setup>
import { useForm, Head } from '@inertiajs/inertia-vue3';

const form = useForm();
defineProps(['blog']);

</script>
 
<template>
    <tr>
        <td>{{ blog.id }}</td>
        <td>{{ blog.title }}</td>
        <td>
            <form @submit.prevent="form.post(route('admin.blogs.like', blog.id))">
                <button class="btn btn-primary">Like</button>
            </form>
        </td>
        <td>
            <form @submit.prevent="form.post(route('admin.blogs.delete', blog.id))">
                <button class="btn btn-danger">Delete</button>
            </form>
        </td>
        <td>
                <button class="btn btn-warning">Report</button>
            </form>
        </td>
    </tr>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</template>

