<script setup>
import { useForm, Head } from '@inertiajs/inertia-vue3';
import BlogTable from '@/Pages/Admin/Blogs/BlogTable.vue';
import NavLink from '@/Components/NavLink.vue';
defineProps(['pagination', 'data']);

</script>
 
<template>
    <Head title="Admin Blogs" />
    <h1 class="d-flex justify-content-center">Manager Blog</h1>
    <table class="table border border-dark">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>like</th>
                <th>delete</th>
                <th>report</th>
            </tr>
        </thead>
        <tbody>
            <BlogTable v-for="blog in data" :key="blog.id" :blog="blog" />
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul  class="pagination">
            <li class="page-item">
                <NavLink
                    class="page-link"
                    v-if="pagination.current_page > 1"
                    :href="route('admin.blogs.index') + '?page=' + (pagination.current_page  -1)"
                    :active="route('admin.blogs.index') + '?page=' + (pagination.current_page  -1)"
                    >Previous
                </NavLink>
            </li>
            <li v-for="index in pagination.last_page" :key="index"
                class="page-item"
                v-bind:class = "(pagination.current_page == index) ? 'active' : ''"
                ><NavLink 
                    class="page-link"
                    :href="route('admin.blogs.index') + '?page=' + index "
                    :active="route('admin.blogs.index') + '?page=' + index "
                    >{{ index }}
                </NavLink>
            </li>
            <li v-if="pagination.current_page < pagination.last_page" class="page-item">
                <NavLink 
                    class="page-link"
                    :href="route('admin.blogs.index') + '?page=' + (pagination.current_page + 1) "
                    :active="route('admin.blogs.index') + '?page=' + (pagination.current_page + 1) "
                    >Next
                </NavLink>
            </li>
        </ul>
    </nav>
</template>