<script setup>
import NavLink from '@/Components/NavLink.vue';
</script>

<template>
    <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
        <NavLink :href="route('dashboard')" :active="route().current('dashboard')">
            Dashboard
        </NavLink>
        <NavLink :href="route('chirps.index')" :active="route().current('chirps.index')">
            Chirps
        </NavLink>
        <NavLink :href="route('blogs.index')" :active="route().current('blogs.index')">
            Blogs
        </NavLink>
    </div>
</template>
